extends layout

block content

  h1 Genre: #{category.name}
  p 
      a(href=) Create
      |  a new product in #{category.name.toLowerCase()} category
  div(style='margin-left:20px;margin-top:20px')
  
    h4 Books

    dl
      each product in category_products
        dt
        -console.log(product)
          a(href=product.url) #{product.name}
        dd #{product.price}

      else
        p This genre has no products
  hr
  p
    a(href=category.url+'/delete') Delete genre
  p
    a(href=category.url+'/update') Update genre